a {
    color: inherit;
    text-decoration: none;
}

.google-map {
    width: 100%;
    height: 400px;
}

.info-window {
    color: #000;
}

@media screen and (width <= 900px) {

    .google-map {
        height: 300px;
    }
}

@media screen and (width <= 600px) {

    .google-map {
        height: 250px;
    }
}
